{% extends 'base.html.twig' %}

{% block body %}


<section class="home"> 
 <div id="Haut">
    <div id="logo">
      <img src={{ asset( "media/logoNFTidentity.png")}} >
    </div>

    <div id="Menu">
      <span id="Explication">
        <a href="Explication.html">Explication</a>
      </span>
      <span id="CCM">
        <a href="CCM.html">Comment ça marche</a>
      </span>
      <span id="FAQ">
        <a href="FAQ.html">FAQ</a>     
    </div>
  </div>


{% if not app.user %}

  <div id="m">

  
    <input type="button" onclick="window.location.href = '{{ path('app_register')}}'" class="contact" value="Creer Compte">
    </div>
{% endif %}

  <div id="Contact">
    <span id ="cont">

    
    <input type="button" onclick="window.location.href = ' {{ path('formcontact') }} '" class="contact" value="Contactez-nous">    


  </div></span>
</div>


<div id="PA">
  <h2>
    Découvrez <br> une solution d'avenir <br>
    pour <span class="ChangeText "></span>
  </h2>
</div>
     

<div id="Exemple">
  <img src={{ asset( "media/NFT.jpg" )}} class="portrait">
</div>


{% if app.user %} 

<div id="CreerunNFT">
  <input type="button" onclick="window.location.href = '  {{ path('add') }} '" class="NFTcreation" value="Creer votre NFT">    </span>
</div>



{% else %}

<div id="CreerunNFT">

{{
  '<input type="button" onclick=" afficherAlerte() " class="NFTcreation" value="Demande de NFT"> '   
}}
</span>
</div>


{% endif %}
   {% if not app.user %}

 <div id="Connex">
    <span id ="connexion">
       <input type="button" onclick= "window.location.href= '{{ path('app_login')}}'" class="Connexion" value="Connexion">
  </div>

      {% endif %}
      {% if app.user %}

    <div id="Connex">
      <span id ="connexion">
        <input type="button" onclick= "window.location.href= '{{ path('app_logout')}}'" class="Connexion" value="Déconnexion">
    </div>

      {% endif %}


 

</section>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<script src=" {{ asset('js/script.js')}}"> </script>
 

{% endblock %}
